[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "==5.2.1"
grpcio-tools = "==1.18.0"
django = "==2.1.7"
celery = "==4.2.1"
"bs4" = "==0.0.1"
mysqlclient = "==1.4.2.post1"

[dev-packages]
"pycodestyle" = "*"
pytest = "==4.3.0"

[requires]
python_version = "3"
