[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.7"
pypugjs = "==5.7.2"
libsass = "==0.17.0"
django-sass-processor = "==0.7.2"
grpcio-tools = "==1.18.0"
mysqlclient = "==1.4.2.post1"
django-compressor = "==2.2"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3"
